.landingImage {
    width: 100%;
    margin: auto
    /* border-style: solid; */
    
}

.landingContainer {
    display: flex;
    align-items: center;
    height: 90vh;
    margin: auto
}

/* @media only screen and (max-width: 512px){
    .landingContainer{
        width: 90%;
        margin: auto
    }
    .landingImage{
        transform: rotate(90deg);
        position: relative;
        top: 20%;
        left: -90px;
        width: 70vh
        
    }
} */

/* @media only screen and (max-width: 560px){
    .landingContainer{
        display: flex;
        align-items: center;
        width: 70%;
        margin: auto
    }
    .landingImage{
        transform: rotate(90deg);
        position: relative;
        left: -130px;
        width: 70vh
        
    }
} */

@media only screen and (max-width: 800px), (max-width: 1024px) and (max-height: 1366px){
    .landingContainer{
        display: flex;
        justify-content: left;
        width: 70%;
        margin: auto
    }
    .landingImage{
        transform: rotate(90deg);
        position: relative;
        left: -40%;
        width: 70vh
        
    }
}

@media only screen and (max-width: 600px) {
    .landingImage{
        left: -45%;
        
    }
}

@media only screen and (max-width: 485px) {
    .landingImage{
        left: -50%;
        
    }
}



