.landingImage {
    width: 100%;
    margin: auto
    /* border-style: solid; */
    
}

.landingContainer {
    height: 90vh;
    margin: auto
}

/* @media only screen and (max-width: 512px){
    .landingContainer{
        width: 90%;
        margin: auto
    }
    .landingImage{
        transform: rotate(90deg);
        position: relative;
        top: 20%;
        left: -90px;
        width: 70vh
        
    }
} */

@media only screen and (max-width: 560px){
    .landingContainer{
        display: flex;
        align-items: center;
        width: 90%;
        margin: auto
    }
    .landingImage{
        transform: rotate(90deg);
        position: relative;
        /* top: 25%; */
        left: -130px;
        width: 70vh
        
    }
}

@media only screen and (max-width: 560px){
    .landingContainer{
        width: 70%;
    }
   
}

