
:root {
    --textcolour: #ADADAD;
    --mainheader: #C3073F;
    --hovercolour: #950740;
    --bordercolour: #6F2232;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1A1A1D;
}

.homeContainer {
    color: var(--textcolour);
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto
}

.sticky {
    position: sticky;
    top: -1px;
    z-index: 99999;
    background-color: #1A1A1D;
}


@media only screen and (max-width: 1024px){
    .homeContainer{
        width: 100%
    }
}


