:root {
    --textcolour: #ADADAD;
    --mainheader: #C3073F;
    --hovercolour: #950740;
    --bordercolour: #6F2232;
    --backgroundcolour: #1A1A1D;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.aboutContentContainer{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.aboutHeading {
    font-size: 200%;
    font-weight: 800;
    position: relative;
    top: 100px;
    left: -19%
}

.aboutPara{
    margin: 30px;
}

.picContainer {
    margin-top: 30px;
    margin-right: 70px;
}

.aboutPic {
    width: 100%;
    margin: 30px;
    margin-right: 100px;
    border-color: var(--bordercolour);
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
}

@media only screen and (max-width: 1159px) {
    .aboutContentContainer{
        flex-direction: column-reverse;
    }
    .aboutPic{
        width: 40%;
        margin: auto
    }
    .picContainer{
        margin: auto
    }
    .aboutHeading {
        position:inherit;
        top: 0;
        left: 0;
        margin-bottom: 20px;
    }
}